# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Secure files
.bash_secure
.ssh


# Files that might appear on external disks
.Spotlight-V100
.Trashes
