# Local config files
Desktop.ini

# Temp and cache files
._*
Thumbs.db
.DS_Store
tmp/
.cache/
.Trash/
.Trashes

# Secure files
.bash_secure
.ssh/
.git/
.aws/credentials
.gnupg/
.local/share/

# Files that might appear on external disks
.Spotlight-V100

# Claude stuff that's individualized
**/.claude/settings.local.json
**/.claude/.cc-writes/
